body {
    margin: 0;
    font-family: Arial;
    background: #0f1115;
    color: white;
    text-align: center;
}

.container {
    margin-top: 50px;
}

input {
    display: block;
    margin: 10px auto;
    padding: 10px;
    width: 250px;
    border-radius: 6px;
    border: none;
}

button {
    padding: 10px 20px;
    background: #28a745;
    border: none;
    color: white;
    border-radius: 6px;
    cursor: pointer;
}

/* 🔥 QR CARD */
.qr-card {
    background: #1a1f2e;
    padding: 20px;
    margin-top: 20px;
    border-radius: 15px;
    width: 260px;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0 0 20px rgba(0,0,0,0.6);
}

.qr-img {
    width: 200px;
    background: white;
    padding: 10px;
    border-radius: 10px;
}

.pay-text {
    margin-top: 10px;
    font-size: 16px;
}

.user-text {
    color: #ccc;
    font-size: 14px;
}

.bank-text {
    color: #ffcc00;
    font-size: 14px;
}

/* 🔥 กล่องแจ้งเตือน */
.alert-box {
    margin-top: 15px;
    background: rgba(255, 165, 0, 0.1);
    border: 1px solid orange;
    padding: 10px;
    border-radius: 10px;
    color: orange;
    font-size: 13px;
}
