body {
    margin: 0;
    font-family: Arial;
    background: #0f1115;
    color: white;
    text-align: center;
}

/* container */
.container {
    margin-top: 50px;
}

/* input */
input {
    display: block;
    margin: 10px auto;
    padding: 10px;
    width: 250px;
    border-radius: 6px;
    border: none;
}

/* button */
button {
    padding: 10px 20px;
    background: #28a745;
    border: none;
    color: white;
    border-radius: 6px;
    cursor: pointer;
}

/* 🔥 QR CARD */
.qr-card {
    background: #1a1f2e;
    padding: 20px;
    margin-top: 20px;
    border-radius: 15px;
    width: 260px;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0 0 20px rgba(0,0,0,0.6);
}

.qr-img {
    width: 200px;
    background: white;
    padding: 10px;
    border-radius: 10px;
}

.pay-text {
    margin-top: 10px;
    font-size: 16px;
}

.user-text {
    color: #ccc;
    font-size: 14px;
}

.bank-text {
    color: #ffcc00;
    font-size: 14px;
}

/* 🔥 alert */
.alert-box {
    margin-top: 15px;
    background: rgba(255, 165, 0, 0.1);
    border: 1px solid orange;
    padding: 10px;
    border-radius: 10px;
    color: orange;
    font-size: 13px;
}

/* 🔥 amount */
.amount-text {
    color: #00ffcc;
    font-size: 20px;
    margin-top: 10px;
}

/* 🔥 copy button */
.copy-btn {
    margin-top: 10px;
    padding: 10px;
    width: 100%;
    border: none;
    border-radius: 10px;
    background: linear-gradient(90deg, #00c6ff, #0072ff);
    color: white;
    cursor: pointer;
    transition: 0.3s;
}

.copy-btn:hover {
    transform: scale(1.05);
}

/* 🔥 logo */
.logo {
    width: 140px;
    margin-bottom: 15px;
    filter: drop-shadow(0 0 20px rgba(255,255,255,0.3));
    animation: float 3s ease-in-out infinite;
}

/* 🔥 title */
.title {
    font-size: 42px;
    color: #ffcc00;
    text-shadow: 0 0 25px rgba(255,204,0,0.8);
    margin-bottom: 10px;
}

.subtitle {
    color: #ccc;
    font-size: 15px;
    margin-bottom: 25px;
}

/* 🔥 button main */
.btn-start {
    padding: 15px 35px;
    font-size: 18px;
    border-radius: 12px;
    background: linear-gradient(90deg, #ffcc00, #ff8800);
    color: black;
    text-decoration: none;
    box-shadow: 0 0 25px rgba(255,204,0,0.6);
    transition: 0.3s;
}

.btn-start:hover {
    transform: scale(1.1);
    box-shadow: 0 0 40px rgba(255,204,0,1);
}

/* 🔥 animation */
@keyframes float {
    0% { transform: translateY(0px); }
    50% { transform: translateY(-10px); }
    100% { transform: translateY(0px); }
}

/* 🔥 overlay */
.overlay {
    background: radial-gradient(circle at center,
        rgba(0,0,0,0.4),
        rgba(0,0,0,0.9)
    );
}
